@import url(css/layout/base.css);
@import url(css/blocks/header.css);
@import url(css/blocks/hero.css);
@import url(css/blocks/hero-content.css);
@import url(css/blocks/logo.css);
@import url(css/blocks/menu.css);
@import url(css/blocks/contacts.css);
@import url(css/blocks/footer.css);
@import url(css/blocks/hot-tours.css);
@import url(css/blocks/button.css);
@import url(css/blocks/paginator.css);
@import url(css/blocks/news.css);
@import url(css/blocks/partners.css);
@import url(css/blocks/socials.css);
@import url(css/blocks/about.css);
@import url(css/blocks/breadcrambs.css);
@import url(css/blocks/services.css);
@import url(css/blocks/dropdown.css);

button{
    background: transparent;
    border: none;
    cursor: pointer;
}
 .contact__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 5px;    
 }

 .contact__dropdown{
    position: relative;
 }

 .contact__dropdown:hover .dropdown{
    left: initial;
    right: 0;
    opacity: 1;
 }

 .contact__workhours {
    font-size: 13px;
    text-decoration: underline;
    margin-top: -9px;
 }
 .section__title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
    display: flex;
    align-items: center;
}

.pager__item--active .paginator__link {
    background: #fff;
    color: red;
}

.top-line{
    min-height: 412px;
    background: url("./img/headline1.png") center no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 22px;
}

.top-line__container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title{
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}

.inner-section{
    background: #F4F5F5;
    color: #1A1B1E;
    padding: 87px 0 75px 0;
}

.inner-section__title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 51px;
}

.inner-section--form{
    padding: 61px 0 101px 0;
}

.inner-section--form .inner-section__title{
}

.inner-footer__container{
    padding: 46px 0;
}

.inner-footer{
    margin-top: auto;
}


/*review*/
.reviews{
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 51px;
}

.review__item{
    margin-bottom: 20px;
}

.review{
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px 32px 30px;
    background: #F4F5F5;
    border-radius: 5px;
    margin-bottom: 17px;
}

.review__header{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.review__photo{
    margin-right: 23px;

}

.review__user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 9px;
}

.review__user:after{
    content: url(./img/vk-blue.png);
    height: 29px;
    margin-left: 10px;
}

.avatar{
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.review__tags{
    display: flex;
    align-items: flex-start;
}


.tag{
    font-size: 13px;
    color: #303030;
    padding: 9px 17px;
    border-radius: 35px;
    background: #e6e6e6;
}

.tag--bg--green{
    background:#B9EAE4;
}

.review__title{
    font-size: 30px;
    color: #1A1B1E;
    font-weight: bold;
    margin-bottom: 14px;
}

.review__content-text{
    margin-bottom: 50px;
    color: #818181;
    line-height: 27px;
}

.review__date{
    font-size: 14px;
    color: #1A1B1E;
    font-weight: bold;
}

.separator{
    background: url(./img/Rectangle.png); /*center no-repeat*/
    min-height: 363px;
    display: flex;
    color: #fff;
}

.separator__container{
    background: url(img/couple.png) right 5% bottom no-repeat;
    display: flex;
    align-items: center;
}

/*не поняла как поместить картинку на фон*/

.separator__content{
    max-width: 54%;
}

.separator__title{
    font-size: 48px;
    font-weight: bold;
    line-height: 66px;
}

.form__row{
    display: flex;
    margin-bottom: 26px;
}

.form__input{
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #fff;
    padding: 21px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input:focus{
    outline: 0;
    border-color: #f5170e;
}

.form__input::placeholder{
    color:#666;
}

.form__input:last-child{
    margin-right: 0px;
}

.form__input--textarea{
    height: 235px;
    resize: none;
    padding-top: 30px;
}

.form__cotrols-title{
    width: 40%;
    padding-top: 10px;
    font-size: 18px;
    line-height: 25px;
    margin-right: 17px;
}

.controls{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 7px 11px;
}

.controls__item{
}
    

.form__controls{
    display: flex;
    margin-bottom: 32px;
}

.controls__elen{
    cursor: pointer;
}

.controls__checkbox:checked ~.control__tag {
    background: #B9EAE4;
}

.controls__checkbox{
    display: none;
}

.form__btns{
    display: flex;
    justify-content: flex-end;
}

.form__btn{
    margin-right: 17px;
}

.form__btn:last-child{
    margin-right: 0;
}


/*welcome page*/


.welcome{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(./img/bg.png) /*center botton / cover no-repeat*/;
}

.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 2s forwards;
}

.desc_text{
    font-size: 18px;
    margin-bottom: 52px;
}

.central__logo{
    margin-bottom: 20px;
}

@keyframes bounce{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    20%{
        transform: scale(1.2);
    }
    40%{
        transform: scale(0.8);
    }
    60%{
        transform: scale(1.1);
    }
    80%{
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
