.button {
    background: #F5170E;
    border-radius: 30px;
    padding: 18px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
}

.button:hover{
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.button--size--medium{
    padding: 18px 30px;
}

.button--theme--bordered{
    background: transparent;
    border-color: #F5170E;
    color: #F5170E;;
}

.button--theme--bordered:hover{
    background: #F5170E;
    border-color: #F5170E;
    color: #fff;
    }

.button--colot--grey{
    background: #8E8E8E;
}

.button--colot--grey:hover{
    background: #2B2B2B;
}