.footer-container__section{
    height: 146px;
    border-top: 1px solid rgb(255 255 255 / 10%);
}

.footer-container{
    margin-top: auto;
}

.footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col{
    display: flex;
    align-items: center;
}

.footer__col--align--right{
    align-items: flex-end;
}

.footer__menu{
    top: 55px;
    left: 165px;
}

.footer__contacts{
    top: 45px;
}