.menu {
    display: flex;
  }

  .menu__list{
    display: flex;
    vertical-align: center;
 }

 .menu__item{
    margin-right: 54px;
 }

 .menu__title {
    font-size: 14px;
    text-decoration: none;
    transition: color, .3s;
 }

.menu__title:hover, .menu__title--active{
   color: #da0100;
}